{% extends 'layout.html' %}

{% block content %}

              <div class="jumbotron">
                <h4>View Deliveries</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for delivery in deliverylist %}

                    <tr>
                      <td>{{farmer}}</td>
                    </tr>

                    {% endfor %}
                  </tbody>
                </table>
              </div>

              {% endblock %}
