{% extends 'layout.html' %}

{% block content %} 

      <div class="jumbotron">
        <h4>View Farmers</h4>
        <table class="table">
           
            <thead>
              <tr>
                
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">address</th>
              </tr>
            </thead>
            <tbody>
              {% for farmer in farmerlist %}
	
              <tr>
                
                <td>{{farmer}}</td>
             
              </tr>
             
               
               
            {% endfor %}
            </tbody>
            
          </table>
     
      </div>

      {% endblock %}
